In [1]:
from asag2024_dataset.datasets.beetle_parser import load_beetle, rename_beetle

In [2]:
df = load_beetle()
df = rename_beetle(df)
df.describe()

             grade
count  3941.000000
mean      2.000000
std       1.000761
min       0.000000
25%       1.000000
50%       2.000000
75%       3.000000
max       3.000000

In [3]:
df.nunique()

question               36
provided_answer      3668
accuracy                5
file_name              47
reference_answer       44
reference_answer1      11
reference_answer2       1
grade                   4
dtype: int64

In [4]:
df.head()

,question,provided_answer,accuracy,file_name,reference_answer,reference_answer1,reference_answer2,grade
0,Explain why you got a voltage reading of 0 for...,terminal 1 is connected to terminal 2,correct,FaultFinding-BULB_ONLY_EXPLAIN_WHY2,Terminals 1 and 2 are connected,NaN,NaN,3
1,Explain why you got a voltage reading of 0 for...,they are connected,correct,FaultFinding-BULB_ONLY_EXPLAIN_WHY2,Terminals 1 and 2 are connected,NaN,NaN,3
2,Explain why you got a voltage reading of 0 for...,Because terminal 1 and 2 are connected to the ...,partially_correct_incomplete,FaultFinding-BULB_ONLY_EXPLAIN_WHY2,Terminals 1 and 2 are connected,NaN,NaN,2
3,Explain why you got a voltage reading of 0 for...,terminal 1 and 2 have the same difference in e...,contradictory,FaultFinding-BULB_ONLY_EXPLAIN_WHY2,Terminals 1 and 2 are connected,NaN,NaN,1
4,Explain why you got a voltage reading of 0 for...,the voltage was 0 because they were on the sam...,partially_correct_incomplete,FaultFinding-BULB_ONLY_EXPLAIN_WHY2,Terminals 1 and 2 are connected,NaN,NaN,2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3941 entries, 0 to 3940
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   question           3941 non-null   object
 1   provided_answer    3941 non-null   object
 2   accuracy           3941 non-null   object
 3   file_name          3941 non-null   object
 4   reference_answer   3941 non-null   object
 5   reference_answer1  1104 non-null   object
 6   reference_answer2  84 non-null     object
 7   grade              3941 non-null   int64
dtypes: int64(1), object(7)
memory usage: 246.4+ KB

In [6]:
df['accuracy'].unique()

array(['correct', 'partially_correct_incomplete', 'contradictory',
       'non_domain', 'irrelevant'], dtype=object)